version: '3.9'
services:
  postgres:
    image: postgres:16-alpine
    container_name: pg16_courseonlineapp
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: ${POSTGRES_TIMEZONE:-Asia/Ho_Chi_Minh}
    ports:
      - "${POSTGRES_PORT:-5434}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: redis_courseonlineapp
    command: redis-server --bind 0.0.0.0 --save 60 1 --loglevel warning
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network

  app:
    image: ${DOCKERHUB_USERNAME}/courseonlineapp:latest
    depends_on:
      - postgres
      - redis
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-dev}
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SERVER_PORT: ${SERVER_PORT}
    ports:
      - "${APP_PORT:-8084}:8080"
    volumes:
      - /var/www/courses_management/uploads:/uploads
    networks:
      - app-network
    restart: unless-stopped

volumes:
  pgdata:
  redis-data:

networks:
  app-network:
    driver: bridge
